/* Oliver Fabián Stetcu Stepanov | 2º DAW */
/*----------------------------------------*/
:root {
  /* Colores */
  --black: #000000;
  --red: #ff6868;
  --green: rgb(172, 252, 53);
  --white: #ffffff;
  --azul-clarito: rgba(0, 212, 255) 0px 0px 50px -15px;
  --background: #c0c0c0;
  --text-shadow: #cecece;
  --amarillo: #fffb07;

  /* Gradient */
  --gradient-form-linear: linear-gradient(14deg,rgba(2, 0, 36, 0.8) 0%,rgba(24, 24, 65, 0.7) 66%,rgb(20, 76, 99) 100%);
  --gradient-form-radical: radial-gradient(circle,rgba(2, 0, 36, 0.5) 0%,rgba(32, 15, 53, 0.2) 65%,rgba(14, 29, 28, 0.9) 100%);
}
/*----------------------------------------*/
/* ANIMACIONES */
/* Animación para el <span> */
@keyframes flickering {
  0%,

  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

/* Animación para los botones */
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/* Animación para las estrellas */
@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

/* Animación para las estrellas */
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
/*----------------------------------------*/
/* Estilos para el <html> */
html {
  overflow-x: hidden;
}

/* Estilos para el cuerpo */
body {
  background-color: var(--black);
}

/* Estilos para cuando los campos son incorrectos */
.error {
  background-color: var(--red);
  color: var(--white);
}

/* Estilos para cuando los campos son correctos */
.success {
  background-color: var(--green);
}

/* Estilos para mostrar los errores del formulario si los campos no son correctos */
.span-error {
  font-weight: 600;
  color: var(--red);
}

/* Estilos para mostrar los campos del formulario si son correctos */
.span-success {
  font-weight: 600;
  color: var(--green);
}
/*----------------------------------------------------------*/
/* Estilos para los formulario */
.formSolicitud,
.formPlanes {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  max-width: 600px;
  background: var(--gradient-form-linear), var(--gradient-form-radical);
  border: 2px solid var(--white);
  -webkit-box-shadow: var(--azul-clarito);
  box-shadow: var(--azul-clarito);
  overflow: hidden;
  top: 200px;
  left: 650px;
  z-index: 1;
}

.formPlanes {
  position: absolute;
  top: 40px;
  left: 600px;
  z-index: 1;
}
/*----------------------------------------------------------*/
/*------ Sección de Input y Submit -------*/
.input-container {
  position: relative;
}

.input-container input,
.formSolicitud button {
  outline: none;
  border: 2px solid var(--black);
  margin: 8px 0;
  font-family: monospace;
}

.input-container input {
  padding: 6px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 390px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-mail:focus::placeholder {
  opacity: 0;
  transition: opacity 0.9s;
}

.input-pwd:focus::placeholder {
  opacity: 0;
  transition: opacity 0.9s;
}

.submit {
  position: relative;
  display: block;
  padding: 8px;
  background-color: var(--background);
  color: var(--white);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.submit:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 3.9px;
  box-shadow: 4px 5px 17px -4px var(--white);
  cursor: pointer;
}

.submit:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.submit::before {
  content: "";
  display: block;
  width: 0px;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  background: var(--white);
  box-shadow: 0 0 50px 30px var(--white);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
/*----------------------------------------------------------*/
/*-------- CABECERA del FORMULARIO -----------*/
.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  color: var(--white);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  animation-duration: 1.5s;
  overflow: hidden;
  transition: 0.12s;
}

.form-title span {
  animation: flickering 2s linear infinite both;
}

.title-2 {
  display: block;
  margin-top: -0.5rem;
  font-size: 2.1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: var(--white) 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px var(--text-shadow);
}

.title-2 span::before,
.title-2 span::after {
  content: "—";
}
/*----------------------------------------------------------*/
/*--------- Estilos para las ESTRELLAS -----------*/
.bg-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, var(--white), transparent);
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 0;
  right: 220px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.star:nth-child(4) {
  top: 0;
  right: -220px;
  left: initial;
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}

label {
  color: var(--white);
}
/*----------------------------------------------------------*/
.bx {
  font-size: 30px;
  transform: translateY(10px);
  cursor: pointer;
  color: var(--white);
}

#salida,
#salidaPlan {
  color: var(--white);
  font-size: 28px;
}

#formSolicitud input::placeholder { 
  color: var(--background); 
}

#visitas-container-planes {
  position: absolute;
  left: 70%; /* Centra horizontalmente */
  top: 85%; /* Centra verticalmente */
}

#visitas-container-solicitud {
  position: absolute;
  left: 1360px;
  top: 600px;
}

#contenedorContadorVisitasPlanes,
#contenedorContadorVisitasSolicitud,
#contadorVisitasPlanes,
#contadorVisitasSolicitud {
  font-size: 30px;
  color: var(--white);
}

#contenedorContadorVisitasPlanes {
  text-align: right;
}
/*----------------------------------------------------------*/
/* Estilo para los enlaces de las opciones */
ul li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--white); /* Fondo blanco */
  color: var(--black); /* Texto negro */
  text-decoration: none; /* Sin subrayado */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2); /* Sombra azul clarito */
  transition: box-shadow 0.3s ease; /* Transición suave */
}

/* Estilo al pasar el cursor sobre los enlaces */
ul li a:hover {
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.3); /* Aumenta la sombra al pasar el cursor */
}

/* Estilo a los títulos <h1> */
h1 {
  color: var(--white);
}
/*----------------------------------------------------------*/
